.board_container
{
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
}

@media screen and (min-width: 480px) 
{
    .board_container
    {
        width: 400px;
        height: 400px;
    }
}

@media screen and (min-width: 550px) 
{
    .board_container
    {
        width: 500px;
        height: 500px;
    }
}

.board 
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    .board_square
    {
        width: 100%;
        height: 100%;
    }
}

.square
{
    width: 12.5%;
    height: 12.5%;

    /*.square_black
    {
        background-color: chocolate;
    }

    .square_white
    {
        background-color: burlywood;
    }*/
}

.promote_square
{
    width: 50%;
    height: 50%;
}

.piece_container
{
    cursor: grab;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece_img
{
    max-width: 70%;
    max-height: 70%;
}

@layer components {
    .member_tag
    {
        @apply 
            text-xs 
            inline-flex 
            items-center
            float-right 
            font-bold 
            uppercase 
            px-3 
            py-1 
            bg-blue-200 
            text-blue-700 
            rounded
    }

    .oponent_tag
    {
        @apply 
            text-xs 
            inline-flex 
            items-center 
            float-right
            font-bold 
            uppercase 
            px-3 
            py-1 
            bg-red-200 
            text-red-700 
            rounded
    }

    .square_black
    {
        @apply
            bg-slate-600
    }

    .square_white
    {
        @apply
            bg-slate-300
    }
}
