*
{
  margin: 0;
  padding: 0;
}

/*.app
{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;
}*/

@layer components {
  .app {
    @apply
      bg-slate-700
      min-h-screen
  }
}
